<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Exception</th>
      <th>Date</th>
      <th>Worked</th>
      <th>Overtime</th>
      <th>Break</th>
      <th>Total</th>
      <th>In</th>
      <th>Out</th>
      <th>In</th>
      <th>Out</th>
    </tr>
  </thead>
<% dateRange.each do |date| %>
  <% if date  %>
<tr>
  <td>no</td>
  <td><%= date %></td>
  <td>0.0</td>
  <td>0.0</td>
  <td>0.0</td>
  <td>0.0</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
  <% end%>
<% end %>
</table>
