<h1>Reporting</h1>

<form id="filter" action="/timecards">
  Start Date: <input type ="text" name="start_date" data-provide='datepicker'>
  End Date: <input type ="text" name="end_date" data-provide='datepicker'>
<input type = "Submit" value = "Submit">
</form>
<table border ="1px" class="awef">
  <tr>
    <th>Exception</th>
    <th>Date</th>
    <th>Worked</th>
    <th>Overtime</th>
    <th>Break</th>
    <th>Total</th>
    <th>In</th>
    <th>Out</th>
    <th>In</th>
    <th>Out</th>
  </tr>
  <%= @dateRange.each do |timecard| %>
  <tr>
    <td>hey</td>
    <td><%= timecard %></td>
    <td>hey</td>
    <td>hey</td>
    <td>hey</td>
    <td>hey</td>
    <td>hey</td>
    <td>hey</td>
    <td>hey</td>
    <td>hey</td>
  </tr>
  <% end %>
</table>


