/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 *= require daterangepicker-bs3
 */

/* Global Variables */
$brand-primary: 		#5F97FB;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #E74C3C !default;
$grey: 					#E7E7E7;
$dark-grey:				#86899D;
$red-color: 			#E74C3C;
$sidebar-color: 		#2F313A;
$body-bg: 				#EBEDF3;


$rounded-corner: 		5px;
$customBorder-width: 	3px;

/* Import Vendor CSS */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


/* Defaults */
* {
  	margin: 0;
  	padding: 0; 
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
}

/* Bootstrap */
.btn-primary {
    box-shadow: 0 $customBorder-width 0 0 darken($brand-primary,7);
    border: none !important;
}
.btn-default {
    box-shadow: 0 $customBorder-width 0 0 darken($grey,7);
    border: none !important;
}
.btn-danger {
    box-shadow: 0 $customBorder-width 0 0 darken($red-color,7);
    border: none !important;
}
.btn-success {
	box-shadow: 0 $customBorder-width 0 0 darken($brand-success,7);
	border: none !important;
}
.btn-warning {
	box-shadow: 0 $customBorder-width 0 0 darken($brand-warning,7);
	border: none !important;
}
.btn-danger {
	box-shadow: 0 $customBorder-width 0 0 darken($brand-danger,7);
	border: none !important;
}
.inputLabel{
	font-size: 0.7em;
	font-weight: 700;
	opacity: 0.7;
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	margin-top: -1rem;
}
/* Helpers */

.bg-main {
    background-color: #ffffff;
    color: #9FB3B8;
    border-bottom: 1px solid $grey;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.05)
}

.noPadding {
    margin: 0 !important;
    padding: 0 !important;
}

.noPadding:first {
    margin-right: 1rem !important;
}

.colCentered {
	display: block;
    float: none;
    margin: 0 auto;
}

.input-sm{
	padding: 0.16rem 0.75rem;
}

.noShadow{
	box-shadow: none !important;
}

/* Horizontal Nav Bar */

.navbar {
    border-radius: 0rem !important;
}

.navbar > .navbar-currentView {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    width: 180px;
}


/* Vertical Nav Bar */

#wrapper {
    overflow-x: hidden;
    padding-left: 0;
}

#wrapper.toggled {
    padding-left: 250px;
}

#menuToggle {
	display: inline;
    font-size: 1.3em;
    padding: 0 !important;
    position: absolute;
    right: 1.5rem;
    bottom: 1rem;
    color: white;
}

#wrapper.toggled #sidebarWrapper {
    width: 250px;
}

#pageContentWrapper .nav {
    padding: 15px;
    position: absolute;
    width: 100%;
}

#wrapper.toggled #pageContentWrapper  {
    margin-right: -220px;
    position: absolute;
}

#sidebarWrapper {
    background: $sidebar-color;
    height: 100%;
    left: 250px;
    margin-left: -250px;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    width: 0;
    z-index: 1000;
}

#sidebarWrapper hr{
	border-top: 1px solid rgba(255,255,255,0.08);
}

/* Sidebar Styles */

.sidebarNav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#sidebarWrapper > hr {
    border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.sidebarNav li {
    color: #fff;
    font-size: 0.9em;
    line-height: 35px;
}

.sidebarNav > .sidebarHeading {
    font-family: 'Montserrat', sans-serif;
    text-indent: 20px;
}

.sidebarNav li a {
    color: #849DB5; 
    display: block;
    padding-left: 20px;
    text-decoration: none;
}

.sidebarNav li a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
}

.sidebarNav li a:active,
.sidebarNav li a:focus {
    text-decoration: none;
}

.sidebarNav > .sidebarBrand {
    background-color: $brand-primary;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    height: 51px;
    line-height: 47px;
}

.sidebarNav > .sidebarBrand a,
.sidebarNav > .sidebarBrand a:hover {
    background: none;
    color: #fff;
}

.sidebarNav > .activeTab {
	border-left: $customBorder-width solid $brand-primary;
    background-color: darken($sidebar-color, 10);
}

.activeTab a {
    color: #fff !important;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebarWrapper {
        width: 220px;
    }
    #wrapper.toggled #sidebarWrapper {
        width: 60px;
    }
    #pageContentWrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #pageContentWrapper {
        margin-right: 0;
        padding-left: 60px;
        position: relative;
    }
    #wrapper.toggled nav{
    	padding-left: 60px;
    }
}

/* User Profile */
#userProfileImage{
	background: url(http://hellogiggles.hellogiggles.netdna-cdn.com/wp-content/uploads/2014/05/09/olivia-wilde-featured.jpg) no-repeat;
	background-size: 35px 35px;
	border-radius: 20px;
	display: inline-block;
	float: right;
	height: 35px;
	width: 35px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

/* Pills and Alignment */

.notificationPill {
    margin-right:10px;
    margin-top:9px;
}

/* Tabs */
#tabWrapper{
	display: block;	
	min-height: 300px;
	padding-bottom: 2rem;
	width: 100%;
}
#tabList{
	background-color: white;
}

#tabWrapper ul{
	clear:left;
	left:50%;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	text-align:center;
}

#tabWrapper ul li {
	background-color: darken($body-bg, 5);
	border-radius: $rounded-corner $rounded-corner 0px 0px;
	color: $dark-grey;
	display:block;
	float:left;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	height: auto;
	list-style:none;
	margin-right: 0.5rem;
	padding: 4px 10px;
	position: relative;
	right:50%;
	width: auto;
	min-width: 60px;
    font-size: 0.8em;
}

.activeTableTab {
	background-color: white !important;
	color: $brand-primary !important;
}

/* Global Table Styles */

.thead-inverse th:first-child{
  border-radius:$rounded-corner 0 0 $rounded-corner;
}

.thead-inverse th:last-child{
  border-radius:0 $rounded-corner $rounded-corner 0;
}
